<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    //- style
    //- <!-- .. ka mtlb h bahar ao directory m ek step phr dhundo -->
    //-     include ../static/style.css
//-  plain html bhi use ki ja skti h aur bina html bnaye js se bhi dali ja skti h jese demo.pug m kia y sirf uska example h
</head>
//- <!-- pipe lgana zruri h agr gym.js se serve kr rhe ho pug ko content jese demo.pug m kia
<body>
        
        <p> 
            | #{content} 
            | This is a plain html using pug 
        </p> 

</body>
</html>
